<form id="search" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)" novalidate>
  <fieldset class="inputs">
    <ol>
      <li class="input">
        <i class='material-icons'>search</i>
        <app-search-input formControlName="startAddress" [direction]="'from'" [placeholder]="'Endereço de Partida'" ngDefaultControl></app-search-input>
      </li>
      <li class="input">
        <i class='material-icons'>search</i>
        <app-search-input formControlName="finalAddress" [direction]="'to'" [placeholder]="'Endereço de Chegada'" ngDefaultControl></app-search-input>
      </li>
    </ol>
  </fieldset>
</form>