@import map
@import section/results
@import section/info
@import section/forms

html,
body
  height: 100%

aside
  border-right: 1px solid rgba(black, 0.1)
  float: left
  height: 90%
  width: 29.9%

  a
    border-bottom: 1px solid rgba(black, 0.1)
    display: block
    text-align: center
    padding:
      top: 10px
      bottom: 10px

//Fix for mobile browsers
.material-icons
  display: inline-flex
  color: rgba(black, 0.1)
  vertical-align: middle
  overflow: hidden
  @extend %material-icons

@media (min-width: 320px) and (max-width: 374px)
  #map
    width: 100% !important
    height: 70% !important

  aside
    float: none
    width: 100%
    height: auto

  form
    padding-top: 1.5%

    ol > li
      margin-bottom: 8px

    li
      padding:
        left: 2%
        right: 2%
      width: 93.7%

      i
        right: 1%

    input[type='text']
      width: 84%

    .results
      width: 98%
      left: 7px

      li
        width: 97.5%

@media (min-width: 375px) and (max-width: 767px)
  form
    input[type='text']
      width: 86%

    li i
      right: 5%

@media (min-width: 768px) and (max-width: 960px)
  #map
    height: 82.9% !important

  form
    input[type='text']
      width: 94%

    li i
      right: 2%